/* Custom CSS
 * --------------------------------------- */
body {
    font-family: 'Museo Sans 300', arial, helvetica;
    color: #333;
    color: rgba(0, 0, 0, 0.5);
}

body {
    width: inherit;
    position: relative;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #2C2C2C;
}

/* --------------------------------------- */
.section {
    text-align: center;
    /* position: relative; */
}

.content {
    /* z-index: 3; */
    display: flex;
}

.shadow {
    /* z-index: 2; */
}

.ornament {
    /* z-index: 0; */
    position: absolute;
    top: 0;
    width: inherit;
    height: 100%;
    display: flex;
}

.section .ornament>div {
    flex: 1;
    height: 100%;
    width: 50%;
    background-repeat: no-repeat;
    background-size: 50%;
}

#section1 .ornament .ornament-left {
    background-image: url("../images/ornament-2.svg");
    background-position: bottom left;
    background-size: 70%;
}

#section1 .ornament .ornament-right {
    background-image: url("../images/ornament-1.svg");
    background-position: top right;
    background-size: 36%;
}

#section2 .ornament .ornament-left {
    background-image: url("../images/ornament-3.svg");
    background-position: top left;
    background-size: 70%;
    margin-top: -1px;
}

#section2 .ornament .ornament-right {
    background-image: url("../images/ornament-4.svg");
    background-position: bottom right;
}

#section3 .ornament .ornament-left {
    background-image: url("../images/ornament-6.svg");
    background-position: bottom left;
}

#section3 .ornament .ornament-right {
    background-image: url("../images/ornament-5.svg");
    background-position: top right;
}

#section4 .ornament .ornament-left {
    background-image: url("../images/ornament-7.svg");
    background-position: top left;
}

#section4 .ornament .ornament-right {
    background-image: url("../images/ornament-8.svg");
    background-position: bottom right;
}

#section3 .ornament {
    width: 100%;
    height: 100%;
}

.fp-controlArrow {
    border-width: 0 !important;
    border-color: transparent transparent transparent #fff;
    background: no-repeat center center;
    width: 30px !important;
    height: 30px;
}

.fp-prev {
    left: 15px;
    background-image: url(../images/left.svg);
}

.fp-next {
    right: 15px;
    background-image: url(../images/right.svg);
}

#arrow-down-anchor {
    margin: 0 auto;
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 15px;
    width: 100%;
    left: 0;
    right: 0;
}

#arrow-down {
    margin: 0 auto;
    width: 30px;
    height: 30px;
    background: no-repeat center center;
    background-image: url(../images/arrow-down.svg);
}

#header {
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 1.4%;
    /* background-color: rgba(0,0,0,0.25); */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0.44+100 */
    background: -moz-linear-gradient(top, rgba(44, 44, 44, 0.5) 0%, rgba(44, 44, 44, 0.0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(44, 44, 44, 0.5) 0%, rgba(44, 44, 44, 0.0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(44, 44, 44, 0.5) 0%, rgba(44, 44, 44, 0.0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#70000000', GradientType=0);
    /* IE6-9 */
}

#logo {
    width: 150px;
    height: 50px;
}

.content>div {
    flex: 1;
    z-index: 1;
}

.content>div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.content>div:nth-child(2) {}

.title {
    /* flex: 1; */
    text-transform: uppercase;
    font-family: 'Museo Sans 900';
    font-size: 2em;
    letter-spacing: 5px;
    text-align: center;
    margin: 0 auto;
}

.title-left {
    text-align: left;
}

.title-right {
    font-size: 4em;
    text-align: right;
    margin-right: 100px;
}

.line {
    width: 75px;
    height: 5px;
    display: block;
    margin: 40px auto;
    background: url('../images/line.svg');
}

.line-right {}

.line-right {
    margin-right: 100px;
    margin-top: 25px;
    margin-bottom: 125px;
    right: 0;
}

.line-block {
    display: flex;
    margin: 25px 125px 25px 0;
    justify-content: flex-start;
    align-items: center;
}

.icon-wrapper {
    width: 220px;
    height: 100px;
    margin-right: 35px;
    background-repeat: no-repeat;
    background-position: top center;
}

.line-block:nth-child(1) .icon-wrapper {
    background-image: url('../images/icon-1.svg');
}

.line-block:nth-child(2) .icon-wrapper {
    background-image: url('../images/icon-2.svg');
}

.line-block:nth-child(3) .icon-wrapper {
    background-image: url('../images/icon-3.svg');
}

.list-content {
    text-align: left;
}

.list-content h3 {
    font-family: 'Museo Sans 700';
    font-size: 24px;
    margin-bottom: 10px;
}

.list-content p {}

.button {
    text-transform: uppercase;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    letter-spacing: 3px;
}

.button-ghost {
    display: block;
    /* width: 100%; */
    /* margin-left: 90px; */
    /* margin-top: 15px; */
    border: 1px solid #ddd;
}

.line-block>.list-content>.button-ghost {
    /* display: block; */
    /* width: 100%; */
    margin-left: 90px;
    margin-top: 15px;
    /* border: 1px solid #ddd; */
}

#logo #logo-desktop {
    width: auto;
    height: 50px;
    display: block;
}

#logo #logo-mobile {
    width: 50px;
    height: 50px;
    display: none;
}

@media only screen and (max-width: 768px) {
    #logo #logo-desktop {
        display: none;
    }

    #logo #logo-mobile {
        display: block;
    }
}

/* START ABOUT ----------------------------- */
#section1 {
    min-height: 700px;
}

@media only screen and (max-width: 768px) {
    #section1 .content>div:nth-child(2) {
        padding-bottom: 100px;
    }

    /* #section1 .content>div:nth-child(2)>div:nth-last-child(), */
    #section1 .content>div:nth-child(2)>div:nth-last-child(1)>div.list-content {
        width: 100%;
    }

    #section1 .content {
        flex-direction: column;
    }

    #section1 .title-right {
        font-size: 2em;
        text-align: center;
        margin: 75px auto 0;
    }

    #section1 .line {
        margin: 40px auto;
    }

    .line-block {
        margin: 25px 25px;
    }

    .line-block>.list-content>.button-ghost {
        margin: 15px auto;
    }
}

/* #section1 .ornament {
    min-height: 100%;
} */
/* END ABOUT ----------------------------- */
/* START WORKS ----------------------------- */
#section2 {
    min-height: 850px;
}

/* #section2 .ornament {
    min-height: 100%;
} */
#section2 .content {
    color: white;
    flex-direction: column;
}

#section2 .title-block {
    padding-top: 75px;
}

.siema {
    margin: 1rem 0;
}

.siema>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.siema>div>div {
    margin-bottom: 25px;
}

.siema>div:nth-child(1) {
    margin-left: 0;
}

.siema>div>div>img {
    width: 100%;
}

.siema>button {
    margin: 10px;
    width: 14px;
    height: 14px;
    border: none;
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.75);
    padding: 0;
    color: black;
    cursor: pointer;
}

.siema>div .card {
    /* background: #dddddd; */
    width: 400px;
    /* height: 400px; */
    background: url(../images/shadow.png) no-repeat bottom center;
    background-size: 100%;
    /* padding: 45px 40px 0 0; */
    /* margin: 0 auto; */
    margin: 0 auto;
}

.siema>div .card-content {
    /* width: 99.8%; */
    height: 100%;
    margin: 3px 0.1% 0;
    background: white;
    border-radius: 10px;
    padding-bottom: 25px;
    /* overflow: hidden; */
    -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.05);
}

.siema>div .card-image {
    /*
    height: 400px;
    width: 400px;
    */
}

.siema>div h1 {
    margin: 15px 0 10px;
    font-family: 'Museo Sans 700';
    font-size: 1.5em;
}

.siema>div h3 {
    color: #7E7E7E;
}

@media only screen and (max-width: 768px) {
    .carousel {
        /* display: none; */
    }

    .siema>div .card {
        width: 350px;
    }
}

/* END WORKS ----------------------------- */
/* START ON GOING ----------------------------- */
#section3 {
    min-height: 900px;
}

#section3 .content {
    display: block;
    color: white;
    flex-direction: column;
}

#section3 .title-block {
    padding-top: 75px;
}

.slide-content-block {
    width: 100%;
    height: 100%;
    display: flex;
}

.slide-content-block>.div {
    flex: 1;
}

.slide-content-block>div:nth-child(1) {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: flex-end;
}

.slide-content-block>div:nth-child(2) {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: flex-start;
}

.slide-content-block>div>.card {
    width: 450px;
    height: 690px;
    background: url(../images/shadow.png) no-repeat bottom center;
    background-size: 100%;
    margin: 45px 40px 0 0;
}

.card-content {
    width: 99.8%;
    height: 600px;
    margin: 3px 0.1% 0;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.05);
}

.card-content-flex {
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.card-image {
    width: 100%;
    height: inherit;
}

.card-image-flex {
    width: auto;
}

@media only screen and (min-width: 769px) {
    .card-image-flex {
        margin-left: -16.5%;
    }
}

.slide-content-block>div>.slide-content-text-wrapper {
    width: 450px;
    height: 600px;
    padding: 45px 0 0 40px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card-caption {}

.logo-project {
    width: 100px;
    height: 100px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.logo-project>img {
    width: 60px;
    height: 60px;
}

.card-caption>h1 {
    margin: 40px 0 15px;
    font-family: 'Museo Sans 700';
    font-size: 2em;
}

.card-caption>h3 {
    color: #7E7E7E;
}

.card-caption>p {
    color: #2C2C2C;
    margin: 30px 0 40px;
}

.card-caption .button {
    width: 100%;
    color: black;
}

.fp-slides {
    height: auto;
    overflow: unset;
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .fp-slides {}

    #section3 {
        min-height: 1500px;
    }

    .slide-content-block {
        flex-direction: column;
    }

    .slide-content-block>div>.card {
        padding: 0px 0px;
        margin: 0;
    }

    .slide-content-block>div>.card {
        height: 520px;
    }

    .card-content {
        height: 445px;
    }

    .slide-content-block>div>.slide-content-text-wrapper {
        height: 610px;
        align-items: center;
        justify-content: flex-start;
    }

    /* .slide-content-block>div>.slide-content-text-wrapper {
    justify-content: center;
} */


    .card-caption>h1 {
        text-align: center;
    }

    .card-caption>h3 {
        text-align: center;
    }

    .card-caption>p {
        text-align: center;
    }

    .slide-content-block>div>.slide-content-text-wrapper {
        padding: 0 40px;
        margin-top: 5px;
        width: 100%;
    }

    .logo-project {
        margin: 0 auto;
    }

    .slide-content-block>div:nth-child(2) {
        height: auto;
        display: block;
    }

    .card-caption .button {
        width: 100%;
    }

    .slide-content-block>div:nth-child(1) {
        justify-content: center;
    }

    .slide-content-block>div:nth-child(2) {
        justify-content: center;
    }

}

/* END ON GOING ----------------------------- */
/* START ACTION ----------------------------- */
#section4 .content {
    color: white;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#section4 .content>div:nth-child(1) {
    flex: 4;
}

#section4 .content>div:nth-child(2) {
    flex: 1;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 50px 0;
}

#text-before-plan {
    margin: 50px auto;
    width: 40%;
    line-height: 21px;
}

.button-color {
    cursor: pointer;
    font-size: 2em;
    padding: 20px 50px;
    font-family: 'Museo Sans 900';
    text-transform: uppercase;
    color: #2C2C2C;
    margin: 0 auto;
    background-image: linear-gradient(to bottom right, #FFDE81, #FFC032, #E99437);
}

.footer {}

#secondary-menu {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

#secondary-menu li {
    padding: 10px 15px;
}

#secondary-menu li a {
    color: grey;
    font-weight: bold;
    text-transform: uppercase;
}

#secondary-menu li a:hover {
    color: white;
}

#social-menu {
    display: flex;
    margin: 25px auto;
    justify-content: center;
    align-items: center;
}

#social-menu li {
    margin: 12px;
    width: 45px;
    height: 45px;
}

#social-menu li a {
    width: 45px;
    height: 45px;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    opacity: 0.30;
}

#social-menu li a:hover {
    opacity: 1;
}

#social-menu li:nth-child(1) a {
    background-image: url('../images/icon-social-1.svg');
}

#social-menu li:nth-child(2) a {
    background-image: url('../images/icon-social-2.svg');
}

#social-menu li:nth-child(3) a {
    background-image: url('../images/icon-social-3.svg');
}

#social-menu li:nth-child(4) a {
    background-image: url('../images/icon-social-4.svg');
}

#social-menu li:nth-child(5) a {
    background-image: url('../images/icon-social-5.svg');
}

#copyright-text {
    color: gray;
}

@media only screen and (max-width: 768px) {

    #text-before-plan {
        margin: 50px 10%;
        width: 80%;
    }

}

@media only screen and (max-width: 468px) {

    .button-color {
        margin: 0 25px;
    }

}

@media only screen and (max-width: 325px) {

    #social-menu li:nth-child(4) {
        display: none;
    }

    #social-menu li:nth-child(5) {
        display: none;
    }

}

/* END ACTION ----------------------------- */
/* RESPONSIVE ----------------------------- */
#menu {
    display: inline-block;
}

#trigger-overlay {
    display: none;
    background: url(../images/burger-button-nav.svg) no-repeat center center;
    border: none;
    width: 36px;
    height: 36px;
}

@media only screen and (max-width: 768px) {
    #menu {
        display: none;
    }

    #trigger-overlay {
        display: inline-block;
    }

    #header {
        width: 100%;
        padding: 15px;
    }
}

/* END RESPONSIVE ----------------------------- */
/* POPUP ----------------------------- */
.modal-container {
    height: 100%;
    display: flex;
}

.modal-image-wrapper {}

.modal-content {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup-title {
    font-family: 'Museo Sans 700';
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.popup-text-small {}

.popup-text-large {
    margin: 15px auto 25px;
    font-size: 1.65em;
    color: #2C2C2C;
}

.popup-button {
    margin: 0 15% 10px;
}

.popup-button>button {
    font-size: 1em;
    display: block;
    margin: 0 auto;
    border: none;
}

.popup-text-large input,
.popup-text-large select {
    font-size: 24px;
    padding: 5px 5px 5px 5px;
    margin-bottom: 5px;
    border: none;
    border-bottom: 1px solid gray;
    background-color: #FFFFFF;
    border-radius: 0;
    color: gray;
}

@media only screen and (max-width: 768px) {
    .modal-container {}

    .popup-button {
        margin: 0 0% 10px;
    }
}

@media only screen and (max-width: 400px) {
    .modal-content {
        justify-content: flex-start;
    }

    .popup-button {
        margin: 0 0% 25px;
    }

    .popup-text-large input,
    .popup-text-large select {
        width: 100%;
    }
}

.swal-footer {
    text-align: center;
}

.swal-button {
    font-family: 'Museo Sans 700';
    color: #FFFFFF;
    background-color: #FFFFFF;
    background-image: linear-gradient(to bottom right, #FFDE81, #FFC032, #E99437);
}

.swal-title {
    font-family: 'Museo Sans 700';
}

.swal-overlay--show-modal .swal-modal {
    font-family: 'Museo Sans 300';
}

/* END POPUP ----------------------------- */
/* ======================================= */
/* PAGE ----------------------------- */
.content-area * {
    color: #555555;
    font-size: 1.05em;
    text-align: center;
}

.pre-content {
    background: #222222;
    width: 100%;
}

.content-block {
    max-width: 1400px;
}

#work .pre-content,
#blog .pre-content {
    min-height: 550px;
}

#work .content-block,
#blog .content-block {
    margin: -450px auto 0;
}

@media only screen and (max-width: 850px) {

    #work .pre-content,
    #blog .pre-content {
        min-height: 250px;
    }

    #work .content-block,
    #blog .content-block {
        margin: -150px auto 0;
    }
}

#clients-and-partners .pre-content {
    min-height: 200px;
}

#clients-and-partners .content-block {
    margin: -108px auto 0;
}

.content-block>h1 {
    color: #FFFFFF;
    font-family: 'Museo Sans 700';
    font-size: 2em;
}

.content-block span {
    display: block;
    color: #7E7E7E;
    margin: 20px auto 25px;
}

.hero-image-wrapper {
    background: gray;
    max-width: 960px;
    max-height: 960px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    position: relative;
    width: 100%;
    padding-top: 960px;
    /* padding-top: 720px; */
}

@media only screen and (max-width: 960px) {
    .hero-image-wrapper {
        padding-top: 100%;
        /* padding-top: 56.75%; */
    }
    #blog .content-block .hero-image-wrapper {
        padding-top: 64.065%;
    }
}

.hero-image-wrapper img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.content-core {
    padding: 50px 0;
    color: #2C2C2C;
}

.content-core img {
    margin: 15px auto;
}

.content-core h1 {
    color: #222222;
    font-family: 'Museo Sans 700';
    font-size: 2em;
}

.content-core p {
    font-size: 18px;
    line-height: 1.58;
    letter-spacing: 0.005em;
}

.content-core span {
    color: #7E7E7E;
}

span.date {
    color: #7E7E7E;
    font-size: 0.90em;
    font-family: 'Museo Sans 300';
    margin: -4px auto 27px;
}

.content-core span.quote {
    color: #7E7E7E;
    font-size: 1.5em;
    font-family: 'Museo Sans 100';
    font-style: italic;
}

.action-block {
    padding: 50px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-block .list-content {
    width: 30%;
}

@media only screen and (max-width: 768px) {
    .action-block .list-content {
        width: 50%;
    }
}

@media only screen and (max-width: 400px) {
    .action-block .list-content {
        width: 100%;
    }
}

/* END PAGE ----------------------------- */
/* Clients & Partners ----------------------------- */

#clients-and-partners-wrapper {
    /* background: #c27c0284; */
    max-width: 1400px;
    min-height: 100px;
    display: block;
}

#clients-and-partners-wrapper .wrapper .box {
    background-color: #fff;
    color: #222;
    border-radius: 5px;
    padding: 0px;
    font-size: 150%;
    width: auto;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#clients-and-partners-wrapper .wrapper .box:nth-child(even) {
    background-color: #fff;
    color: #222;
}

#clients-and-partners-wrapper .wrapper .box a {}

#clients-and-partners-wrapper .wrapper .box a img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: all 0.5s ease;
}

#clients-and-partners-wrapper .wrapper .box a img:hover {
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

#clients-and-partners-wrapper .wrapper {
    /* width: 600px; */
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(5, 250px);
    grid-template-rows: 250px 250px 250px;
    grid-auto-flow: row;
    /* align-items: center; */
    justify-content: center;
    /* place-content: center; */
}

/*
1400
840
560
*/

@media only screen and (max-width: 1400px) {
    #clients-and-partners-wrapper .wrapper {
        grid-template-columns: repeat(3, 250px);
    }
}

@media only screen and (max-width: 840px) {
    #clients-and-partners-wrapper .wrapper {
        grid-template-columns: repeat(2, 250px);
    }
}

@media only screen and (max-width: 560px) {
    #clients-and-partners-wrapper .wrapper {
        grid-template-columns: repeat(1, 250px);
    }
}

@media only screen and (max-width: 400px) {
    #clients-and-partners-wrapper .wrapper {
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    .hero-image-wrapper {
        width: 100%;
        border-radius: 0px;
    }

    .content-block>h1 {
        margin-top: 10px;
        font-size: 1.5em;
    }

    .pre-content {
        min-height: 100px;
    }

    .content-block {
        margin: 0px auto 0;
    }

    .content-core {
        padding: 50px 25px;
    }

    .content-core h1 {
        font-size: 1.5em;
    }

}

/* END Clients & Partners ----------------------------- */
/* Blog & Notes ----------------------------- */
#blog-and-notes {
    max-width: 700px;
    margin: 0 auto;
}

.list-wrapper {}

.list-item {}

.list-item a {
    display: block;
    border: solid 1px #fff;
    border-radius: 12px;
    transition: all 0.5s ease;
}

.list-item a:hover {
    border-top: solid 1px rgba(68, 68, 68, 0.15);
    border-left: solid 1px rgba(68, 68, 68, 0.15);
    -moz-box-shadow: 1px 3px 5px rgba(68, 68, 68, 0.15);
    -webkit-box-shadow: 1px 3px 5px rgba(68, 68, 68, 0.15);
    box-shadow: 1px 3px 5px rgba(68, 68, 68, 0.15);

}

#blog-and-notes .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .card-image-list {
    width: auto;
    padding-right: 20px;
    width: 155px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .card-image-list img {
    width: auto;
    height: 155px;
}

.card-image img {
    height: inherit;
}

.card-body {
    flex: 1;
    padding: 17px 20px;
}

.card-body * {
    text-align: left;
}

.card-title {
    font-family: 'Museo Sans 700';
    font-size: 21px;
    line-height: 28px;
}

.card p.card-description {
    font-size: 16px;
    line-height: 1.45;
    letter-spacing: 0.005em;
    margin: 5px auto 10px;
}

.card-body span {
    margin: 7px 0;
}

.card-category {
    font-family: 'Museo Sans 500';
    color: rgba(0, 0, 0, .94) !important;
    fill: rgba(0, 0, 0, .94) !important;
    font-size: 15px !important;
}

.card-date {
    color: rgba(0, 0, 0, .54) !important;
    fill: rgba(0, 0, 0, .54) !important;
    font-size: 13px !important;
}

@media only screen and (max-width: 400px) {
    #blog-and-notes .card {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 25px;
    }

    .card-body {
        padding: 0;
    }

    .card .card-image-list {
        padding-right: 0px;
        width: 100%;
        justify-content: flex-start;
    }

    .card .card-image-list img {
        margin: 15px 0;
        width: 100%;
        height: auto;
    }
}

/* END Blog & Notes ----------------------------- */
/* Works ----------------------------- */
#works {
    max-width: 1400px;
    min-height: 100px;
    display: block;
    padding-top: 75px;
}

#works .wrapper .box {
    background-color: #fff;
    color: #222;
    border-radius: 5px;
    padding: 0px;
    font-size: 150%;
    width: auto;
    height: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#works .wrapper .box:nth-child(even) {
    background-color: #fff;
    color: #222;
}

#works .wrapper .box a {}

#works .wrapper .box a img {
    transition: all 0.25s ease;
}

#works .wrapper .box a img:hover {
    transform: scale(1.175);
}

#works .wrapper {
    /* width: 600px; */
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: 520px 520px 520px;
    grid-auto-flow: row;
    /* align-items: center; */
    justify-content: center;
    /* place-content: center; */
}

/*
1400
840
560
*/

@media only screen and (max-width: 1400px) {
    #works .wrapper {
        grid-template-columns: repeat(2, 400px);
    }
}

@media only screen and (max-width: 840px) {
    #works .wrapper {
        grid-template-columns: repeat(1, 400px);
    }
}

@media only screen and (max-width: 560px) {
    #works .wrapper {
        grid-template-columns: repeat(1, 400px);
    }
}

@media only screen and (max-width: 400px) {
    #works .wrapper {
        grid-template-columns: repeat(1, 100%);
        overflow: hidden;
    }

    #works {
        padding: 50px 0;
    }
}

@media only screen and (max-width: 840px) {
    #works .wrapper {
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    .hero-image-wrapper {
        width: 100%;
        border-radius: 0px;
    }

    .content-block>h1 {
        margin-top: 10px;
        font-size: 1.5em;
    }

    .pre-content {
        min-height: 100px;
    }

    .content-block {
        margin: 0px auto 0;
    }

    .content-core {
        padding: 50px 25px;
    }

    .content-core h1 {
        font-size: 1.5em;
    }

}

#works .card {
    width: 400px;
    height: 585px;
    background: url(../images/shadow.png) no-repeat bottom center;
    background-size: 100%;
    margin: 0 auto;
}

#works .card .card-content {
    height: 100%;
    height: 515px;
    margin: 3px 0.1% 0;
    background: white;
    border-radius: 10px;
    padding-bottom: 25px;
    -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.05);
}

.card .card-content>.image-wrapper {
    overflow: hidden;
    height: 400px;
}

.card .card-content>.image-wrapper img {
    margin: 0;
    display: block
}

#works>.card-image {
    height: 400px;
    width: 400px;
}

.card .card-content .card-text-wrapper {
    padding-top: 9px;
}

.card .card-content .card-text-wrapper>h1 {
    margin: 15px 0 10px;
    font-family: 'Museo Sans 700';
    font-size: 24px;
}

.card .card-content .card-text-wrapper>h3 {
    color: #7E7E7E;
    font-size: 18px;
}

/* END Works ----------------------------- */
/* Services ----------------------------- */
#services .pre-content {
    min-height: 350px;
}

#services .content-block {
    margin: -225px auto 0;
}

#services .content-block .opening {
    max-width: 1200px;
    margin: 0 auto;
}

#services .content-block .opening * {
    color: white;
    text-align: left;
    padding: 0 25px;
}

#services .content-block .opening h1 {
    margin: 15px auto;
    font-size: 1.75em;
}

#services .content-block .opening p {
    color: #aaa;
    max-width: 768px;
    font-size: 18px;
    line-height: 24px;
}

.service {
    max-width: 1200px;
    padding: 25px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#services .content-core {
    margin-top: 50px;
    padding: 0 25px;
}

.service-body {
    flex: 1;
    padding: 25px 40px 0;
}

.service-left {
    flex-direction: row;
}

.service-right {
    flex-direction: row-reverse;
}

.service-left .service-body * {
    text-align: right;
}

.service-right .service-body * {
    text-align: left;
}

.service-body h2 {
    font-family: 'Museo Sans 700';
    font-size: 1.5em;
}

.service-body p {
    margin: 25px auto;
}

.service-body .list-content {}

.service-body .list-content a {
    text-align: center;
    display: inline-block;
    font-size: 1em;
    letter-spacing: 2px;
}

.service-image-wrapper {
    /* flex: 1; */
    max-width: 50%;
}

.service-image-wrapper img {
    width: 100%;
}

@media only screen and (max-width: 768px) {

    #services .content-block .opening * {
        text-align: center;
        padding: 0 25px;
    }

    .service {
        flex-direction: column-reverse;
    }

    .service .service-body * {
        text-align: center;
    }

}

@media only screen and (max-width: 616px) {
    #services .pre-content {
        min-height: 125px;
    }

    #services .content-block {
        margin: -75px auto 0;
    }

    #services .content-block .opening p {
        display: none;
    }

}

/* END Services ----------------------------- */