@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}

/* Page CSS
 * --------------------------------------- */
#menu li {
	text-transform: uppercase;
	display:inline-block;
	margin: 4px 0;
	color: #000;
	/* padding-top: 30px; */
	/* background:#fff;
	background: rgba(255,255,255, 0.5); */
	/* -webkit-border-radius: 10px;
            border-radius: 10px; */
}
#menu li.special {
	/* border: 1px solid #ffffff; */
}
#menu li.special a {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #ffffff;
}
#menu li.special a:active {
	margin-top: 8px;
	/* color: black; */
}

#menu li.special a:hover {
	background-color: rgba(255, 255, 255, 0.25);
	border-color: rgba(0, 0, 0, 0.5);
	/* color: black; */
}
#menu li.active{
	/* background:#666;
	background: rgba(0,0,0, 0.5); */
	color: #fff;
}
#menu li.active::before {
	content: "";
	/* background-color: yellow;
	color: red;
	font-weight: bold;
	margin-right: 100px; */
	width: 100%;
	/* width: 75px; */
	height: 5px;
	/* position: relative;
	/* width: 100px; */
	/* z-index: -1;  */
	/* margin: 0px 5px; */
	/* display: block; */
	/* margin: 0 auto 0; */
	/* position: absolute; */
	/* top: 0; */
	/* right: 0;
	left: 0; */
	/* background: url('../images/line.svg') no-repeat top center; */
	background-image: url('../images/line.svg');
	background-repeat: no-repeat;
	background-position: top center;
	/* content: ""; */
	display: block;
	/* height: 18px; */
	position: relative;
	/* width: 100px; */
	z-index: -1;
	margin-top: -20px;
}
#menu li a{
	text-decoration:none;
	color: #fff;
}
#menu li.active a:hover{
	color: #fff;
}
#menu li:hover{
	/* background: rgba(255,255,255, 0.8); */
}
#menu li a,
#menu li.active a{
	padding: 15px 18px;
	display:block;
	margin-top: 10px;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position: relative;
	/* position:fixed;
	top:0;
	left:0; */
	/* height: 40px; */
	/* z-index: 70; */
	/* width: 100%; */
	padding: 0;
	margin-top:25;
}
/* --------------------------------------- */
