/* Custom CSS
 * --------------------------------------- */
 body{
	font-family: 'Museo Sans 300',arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}
/* --------------------------------------- */
.section{
    text-align: center;
    position: relative;
}
.content{
    /* z-index: 3; */
    display: flex;
}
.shadow{
    /* z-index: 2; */
}
.ornament{
    /* z-index: 0; */
    position: absolute;
    top: 0;
    width: inherit;
    height: inherit;
    display: flex;
}
.section .ornament > div{
    flex: 1;
    height: inherit;
    width: 50%;
    background-repeat: no-repeat;
    background-size: 50%;
}
#section1 .ornament .ornament-left{
    background-image: url("../images/ornament-2.svg");
    background-position: bottom left;
    background-size: 70%;
}
#section1 .ornament .ornament-right{
    background-image: url("../images/ornament-1.svg");
    background-position: top right;
    background-size: 36%;
}
#section2 .ornament .ornament-left{
    background-image: url("../images/ornament-3.svg");
    background-position: top left;
    background-size: 70%;
    margin-top: -1px;
}
#section2 .ornament .ornament-right{
    background-image: url("../images/ornament-4.svg");
    background-position: bottom right;
}
#section3 .ornament .ornament-left{
    background-image: url("../images/ornament-6.svg");
    background-position: bottom left;
}
#section3 .ornament .ornament-right{
    background-image: url("../images/ornament-5.svg");
    background-position: top right;
}
#section4 .ornament .ornament-left{
    background-image: url("../images/ornament-7.svg");
    background-position: top left;
}
#section4 .ornament .ornament-right{
    background-image: url("../images/ornament-8.svg");
    background-position: bottom right;
}
#section3 .ornament{
    width: 100%;
    height: 100%;
}
.fp-controlArrow {
    border-width: 0 !important;
    border-color: transparent transparent transparent #fff;
    background: no-repeat center center;
    width: 30px !important;
    height: 30px;
}
.fp-prev {
    left: 15px;
    background-image: url(../images/left.svg);
}
.fp-next {
    right: 15px;
    background-image: url(../images/right.svg);
}
#arrow-down-anchor{
    margin: 0 auto;
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 15px;
}
#arrow-down{
    width: 30px;
    height: 30px;
    background: no-repeat center center;
    background-image: url(../images/arrow-down.svg);
}
#header{
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97.2%;
    padding: 0px 1.4%;
    /* background-color: rgba(0,0,0,0.25); */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0.44+100 */
    background: -moz-linear-gradient(top, rgba(44, 44, 44, 0.5) 0%, rgba(44, 44, 44, 0.0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(44, 44, 44, 0.5) 0%, rgba(44, 44, 44, 0.0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(44, 44, 44, 0.5) 0%, rgba(44, 44, 44, 0.0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#70000000', GradientType=0);
    /* IE6-9 */
}
#logo{
    width: 150px;
    height: 50px;
}
.content > div{
    flex: 1;
    z-index: 1;
}
.content > div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}
.content > div:nth-child(2) {
    
}
.title {
    /* flex: 1; */
    text-transform: uppercase;
    font-family: 'Museo Sans 900';
    font-size: 2em;
    letter-spacing: 5px;
    text-align: center;
    margin: 0 auto;
}
.title-left {
    text-align: left;
}
.title-right {
    font-size: 4em;
    text-align: right;
    margin-right: 100px;
}
.line {
    width: 75px;
    height: 5px;
    display: block;
    margin: 40px auto;
    background: url('../images/line.svg');
}
.line-right{

}
.line-right{
    margin-right: 100px;
    margin-top: 25px;
    margin-bottom: 125px;
    right: 0;
}
.line-block{
    display: flex;
    margin: 25px 125px 25px 0;
    justify-content: flex-start;
    align-items: center;
}
.icon-wrapper{
    width: 220px;
    height: 100px;
    margin-right: 35px;
    background-repeat: no-repeat;
    background-position: top center;
}
.line-block:nth-child(1) .icon-wrapper {
    background-image: url('../images/icon-1.svg');
}
.line-block:nth-child(2) .icon-wrapper {
    background-image: url('../images/icon-2.svg');
}
.line-block:nth-child(3) .icon-wrapper {
    background-image: url('../images/icon-3.svg');
}
.list-content{
    text-align: left;
}
.list-content h3{
    font-family: 'Museo Sans 700';
    font-size: 24px;
    margin-bottom: 10px;
}
.list-content p {

}
.button{
    text-transform: uppercase;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    letter-spacing: 3px;
}
.button-ghost{
    display: block;
    /* width: 100%; */
    /* margin-left: 90px; */
    /* margin-top: 15px; */
    border: 1px solid #ddd;
}
.line-block > .list-content > .button-ghost{
    /* display: block; */
    /* width: 100%; */
    margin-left: 90px;
    margin-top: 15px;
    /* border: 1px solid #ddd; */
}
/* START WORKS ----------------------------- */
#section2 .content {
    color: white;
    flex-direction: column;
}
.siema {
    margin: 1rem 0;
}
.siema > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.siema > div > div {
    margin-bottom: 25px;
}
.siema > div:nth-child(1) {
    margin-left: 0;
}
.siema > div > div > img {
    width: 100%;
}
.siema > button {
    margin: 10px;
    width: 14px;
    height: 14px;
    border: none;
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.75);
    padding: 0;
    color: black;
    cursor: pointer;
}
.siema > div .card{
    /* background: #dddddd; */
    width: 400px;
    /* height: 400px; */
    background: url(../images/shadow.png) no-repeat bottom center;
    background-size: 100%;
    /* padding: 45px 40px 0 0; */
    /* margin: 0 auto; */
    margin: 0 auto;
}
.siema > div .card-content {
    /* width: 99.8%; */
    height: 100%;
    margin: 3px 0.1% 0;
    background: white;
    border-radius: 10px;
    padding-bottom: 25px;
    /* overflow: hidden; */
    -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.05);
}
.siema > div .card-image{
    height: 400px;
    width: 400px;
}
.siema > div h1 {
    margin: 15px 0 10px;
    font-family: 'Museo Sans 700';
    font-size: 1.5em;
}
.siema > div h3 {
    color: #7E7E7E;
}
/* END WORKS ----------------------------- */
/* START ON GOING ----------------------------- */
#section3 .content {
    color: white;
    flex-direction: column;
}
#section3 .content .title-block {
    margin-top: 75px;
}
.slide-content-block{
    width: 100%;
    height: 100%;
    display: flex;
}
.slide-content-block > .div{
    flex: 1;
}
.slide-content-block > div:nth-child(1){
    /* background: #333333; */
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: flex-end;
}
.slide-content-block > div:nth-child(2){
    /* background: #cccccc; */
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: flex-start;
}
.slide-content-block > div > .card{
    /* background: #dddddd; */
    width: 450px;
    height: 685px;
    background: url(../images/shadow.png) no-repeat bottom center;
    background-size: 100%;
    padding: 45px 40px 0 0;
}
.card-content {
    width: 99.8%;
    height: 600px;
    margin: 3px 0.1% 0;
    /* background: white; */
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.05);
}
.card-image{
    width: 100%;
    height: calc((width/3) * 4);
}
.slide-content-block > div > .slide-content-text-wrapper{
    /* background: #777777; */
    width: 450px;
    height: 600px;
    padding: 45px 0 0 40px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.card-caption{

}
.logo-project{
    width: 60px;
    height: 60px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.logo-project > img{
    width: 60px;
    height: 60px;
}
.card-caption > h1 {
    margin: 40px 0 15px;
    font-family: 'Museo Sans 700';
    font-size: 2em;
}
.card-caption > h3 {
    color: #7E7E7E;
}
.card-caption > p {
    color: #2C2C2C;
    margin: 30px 0 40px;
}
.card-caption .button {
    width: 50%;
    color: black;
}
/* END ON GOING ----------------------------- */
/* START ACTION ----------------------------- */
#section4 .content {
    color: white;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
#section4 .content > div:nth-child(1) {
    flex: 4;
}
#section4 .content > div:nth-child(2) {
    flex: 1;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 50px;
}
#text-before-plan{
    margin: 50px auto;
    width: 40%;
    line-height: 21px;
}
.button-color {
    cursor: pointer;
    font-size: 2em;
    padding: 20px 50px;
    font-family: 'Museo Sans 900';
    text-transform: uppercase;
    color: #2C2C2C;
    margin: 0 auto;
    background-image: linear-gradient(to bottom right, #FFDE81, #FFC032, #E99437);
}
.footer{

}
#secondary-menu{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
#secondary-menu li{
    padding: 10px 15px;
}
#secondary-menu li a{
    color: grey;
    font-weight: bold;
    text-transform: uppercase;
}
#secondary-menu li a:hover{
    color: white;
}
#social-menu{
    display: flex;
    margin: 25px auto;
    justify-content: center;
    align-items: center;
}
#social-menu li{
    margin: 15px;
    width: 45px;
    height: 45px;
}
#social-menu li a{
    width: 45px;
    height: 45px;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    opacity: 0.30;
}
#social-menu li a:hover{
    opacity: 1;
}
#social-menu li:nth-child(1) a{
    background-image: url('../images/icon-social-1.svg');
}
#social-menu li:nth-child(2) a{
    background-image: url('../images/icon-social-2.svg');
}
#social-menu li:nth-child(3) a{
    background-image: url('../images/icon-social-3.svg');
}
#social-menu li:nth-child(4) a{
    background-image: url('../images/icon-social-4.svg');
}
#social-menu li:nth-child(5) a{
    background-image: url('../images/icon-social-5.svg');
}
#copyright-text{
    color: gray;
}
/* END ACTION ----------------------------- */