/* Custom CSS
 * --------------------------------------- */
 body{
	font-family: 'Museo Sans 300',arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}
/* --------------------------------------- */
.section{
    text-align: center;
    position: relative;
}
.content{
    /* z-index: 3; */
    display: flex;
}
.shadow{
    /* z-index: 2; */
}
.ornament{
    /* z-index: 0; */
    position: absolute;
    top: 0;
    width: inherit;
    height: inherit;
    display: flex;
}
.section .ornament > div{
    flex: 1;
    height: inherit;
    width: 50%;
    background-repeat: no-repeat;
    background-size: 50%;
}
#section1 .ornament .ornament-left{
    background-image: url("../images/ornament-2.svg");
    background-position: bottom left;
    background-size: 70%;
}
#section1 .ornament .ornament-right{
    background-image: url("../images/ornament-1.svg");
    background-position: top right;
    background-size: 36%;
}
#section2 .ornament .ornament-left{
    background-image: url("../images/ornament-3.svg");
    background-position: top left;
    background-size: 70%;
    margin-top: -1px;
}
#section2 .ornament .ornament-right{
    background-image: url("../images/ornament-4.svg");
    background-position: bottom right;
}
#section3 .ornament .ornament-left{
    background-image: url("../images/ornament-6.svg");
    background-position: bottom left;
}
#section3 .ornament .ornament-right{
    background-image: url("../images/ornament-5.svg");
    background-position: top right;
}
#section4 .ornament .ornament-left{
    background-image: url("../images/ornament-7.svg");
    background-position: top left;
}
#section4 .ornament .ornament-right{
    background-image: url("../images/ornament-8.svg");
    background-position: bottom right;
}
#section3 .ornament{
    width: 100%;
    height: 100%;
}
.fp-controlArrow {
    border-width: 0 !important;
    border-color: transparent transparent transparent #fff;
    background: no-repeat center center;
    width: 30px !important;
    height: 30px;
}
.fp-prev {
    left: 15px;
    background-image: url(../images/left.svg);
}
.fp-next {
    right: 15px;
    background-image: url(../images/right.svg);
}
#arrow-down-anchor{
    margin: 0 auto;
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 15px;
}
#arrow-down{
    width: 30px;
    height: 30px;
    background: no-repeat center center;
    background-image: url(../images/arrow-down.svg);
}
#header{
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97.2%;
    padding: 0px 1.4%;
    /* background-color: rgba(0,0,0,0.25); */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0.44+100 */
    background: -moz-linear-gradient(top, rgba(44, 44, 44, 0.5) 0%, rgba(44, 44, 44, 0.0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(44, 44, 44, 0.5) 0%, rgba(44, 44, 44, 0.0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(44, 44, 44, 0.5) 0%, rgba(44, 44, 44, 0.0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#70000000', GradientType=0);
    /* IE6-9 */
}
#logo{
    width: 150px;
    height: 50px;
}
.content > div{
    flex: 1;
    z-index: 1;
}
.content > div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}
.content > div:nth-child(2) {
    
}
.title {
    /* flex: 1; */
    text-transform: uppercase;
    font-family: 'Museo Sans 900';
    font-size: 2em;
    letter-spacing: 5px;
}
.title-left {
    text-align: left;
}
.title-right {
    font-size: 4em;
    text-align: right;
    margin-right: 100px;
}
.line {
    margin-right: 100px;
    width: 75px;
    height: 5px;
    display: block;
    right: 0;
    background: url('../images/line.svg');
    margin-top: 25px;
    margin-bottom: 125px;
}
.line-block{
    display: flex;
    margin: 25px 125px 25px 0;
    justify-content: flex-start;
    align-items: center;
}
.icon-wrapper{
    width: 200px;
    height: 80px;
    margin-right: 35px;
    background-repeat: no-repeat;
}
.line-block:nth-child(1) .icon-wrapper {
    background-image: url('../images/icon-1.svg');
}
.line-block:nth-child(2) .icon-wrapper {
    background-image: url('../images/icon-2.svg');
}
.line-block:nth-child(3) .icon-wrapper {
    background-image: url('../images/icon-3.svg');
}
.list-content{
    text-align: left;
}
.list-content h3{
    font-family: 'Museo Sans 700';
    font-size: 24px;
    margin-bottom: 10px;
}
.list-content p {

}
.button{
    text-transform: uppercase;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    letter-spacing: 3px;
}
.button-ghost{
    display: block;
    /* width: 100%; */
    margin-left: 110px;
    margin-top: 15px;
    border: 1px solid #ddd;
}
